@import "../../assets/styles/colors";

.form {
  position: absolute; // Позиц эл отн ближ позиционир родит эл или относ самого окна браузера, если такого элемента нет
  top: 50%;
  transform: translate(0, -50%);
  display: inherit;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: fit-content;
  gap: 18px;
}
