.messageListContainer {
  position: absolute !important;
  width: 100%;
  max-width: 656px;
  top: 56px;
  bottom: 56px;
  overflow: auto;
  display: flex;
  flex-direction: column-reverse;

  .messageList {
    display: flex;
    flex-direction: column;
    padding: 10px 0;
  }
}
