.inputPasswordWrapper {
  position: relative; // Относительно их нормального позиционирования
}

.eyeIcon {
  position: absolute;
  cursor: pointer;
  height: 24px;
  width: 24px;
  top: 75%;
  transform: translateY(-50%);
  right: 10px;

  svg {
    width: inherit;
    height: inherit;
  }
}
