@import "./assets/styles/colors";

* {
    margin: 0;
    padding: 0;

    // Определяет, как должна вычисляться ширина и высота элемента включая его границы и внутренние отступы 
    // Размеры элемента не будут увеличиваться при добавлении границ или внутренних отступов
    box-sizing: border-box;
}

#root {
  display: flex;
  justify-content: center;
  background-color: $background-color;
}
