$white-color: #ffffff;
$black-color: #000000;
$background-color: #f2f2f7;
$primary-text-color: #2c2c2e;
$input-border-color: #818182;
$primary-bytton-color: #8a9199;
$hover-bytton-color: #6f757c;
$box-shadow-color: #00000014;
$link-color: #5f5ffd;
$hover-link-color: #4646c4;
